html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
}
body {
    background: #f5f5f5;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}


.emx-container {
    max-width: 1185px;
    margin: 0 auto;
    background: #fff;
}

.emx-content-container {
    max-width: 1185px;
    padding: 0 80px;
    margin: 0 auto;
    @media screen and (max-width: 1185px) {
        padding: 0 10px;
    }
}

.emx-title {
    font-family: "Proxima Nova";
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.emx-btn {
    display: inline-block;
    background: #1946ba;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    height: 44px;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover{
        background-color: #0d49a1;
    }
}

.emx-link{
    color: #1951A0;
    // border-bottom: 1px solid #1951A0;
    text-decoration: underline;
    transition: all .4s ease-in-out;
    &:hover{
        text-decoration: none;
        // border-bottom: 1px solid transparent;
        color:#0d49a1;
    }
}
